body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-layout-footer{
  background: blue !important;
  text-align: center;
  color:white !important;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ant-layout-header{
  background: blue !important;
  text-align: center;
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}